<html>
	<head>
        <title>Employee Detail</title>
        

	</head>

	<body bgcolor="white">
	<h1>Employee Detail</h1>
	<br>

	<br>

    <br>
		<form name="employeedetail" action="assignment11.html" method="post">
            <input type="hidden" name="recordid"/>
            <label for="employeeid">Employee ID:</label>
            <input type="text" id="employeeid" name="employeeid" disabled><br><br>
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="pword">Password:</label>
            <input type="text" id="pword" name="pword"><br><br> 
            <label for="cpword">Confirm Password:</label>
            <input type="text" id="cpword" name="cpword"><br><br>
            <select name="employeetype" id="employeetype">
                <option value="cashier">Cashier</option>
                <option value="shiftmanager">Shift Manager</option>
                <option value="genmanager">General Manager</option>
              </select>
              <br>
              <hr>

              <button type="button">Save</button>

              </form>


              <img src="input-24px.svg" alt= "Sign out button" width="30" height="30">

		<br>
		
		<br>



	</body>
</html>
