<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>MAIN MENU</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
   <!--- <link rel="stylesheet" type="text/css" href="/styles/productListing.css"> --->

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/mainMenu.js" defer></script>
</head>

<h1> MAIN MENU </h1>

<body>
    <button id="start_transaction" type="button">Start Transaction</button>
    <br><br>
    <button id="view_products" type="button">View Products</button>
    <br><br>
    <button id="create_employee" type="button">Create Employee</button>
    <br><br>
    <button id="sales_report" type="button">Sales Report</button>
    <br><br>
    <button id="cashier_report" type="button">Cashier Report</button>
    
    <br><br><br><br>

    <button id="sign_out" type="button"><img src="baseline_login_black_18dp.png" width=10%> Sign Out </button>
</body>

</html>