<html xmlns:th="https://www.thymeleaf.org"></html>

<head>
    <Title> MAIN MENU </Title>

</head>

<h1> MAIN MENU </h1>

<body>
    <button type="button">Start Transaction</button>
    <br><br>
    <button type="button">View Products</button>
    <br><br>
    <button type="button">Create Employee</button>
    <br><br>
    <button type="button">Sales Report</button>
    <br><br>
    <button type="button">Cashier Report</button>
    
    <br><br><br><br>

    <button type="button"><img src="baseline_login_black_18dp.png" width=10%> </button>
</body>

</html>