<html>
	<head>
		<title>Sign In Page</title>
	</head>

	<body bgcolor="white">
	<h1>Sign In Page</h1>
	<br>

	<br>

	If you have an existing account, log in here:<br>
		<form name="signinForm" action="assignment11.html" method="post">
			Employee ID: <input type="number" name="employeeid"/><br>
            Password: <input type="password" name="pword"/></br>
			<input type="hidden" name="choose" value="login"/>
			<input type="submit" value="Sign In"/>
		</form>


		<br>
		<hr>
		<br>



	</body>
</html>
